NEXT_PUBLIC_SUPABASE_URL=https://mgncvutxvuolgucabgpn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nbmN2dXR4dnVvbGd1Y2FiZ3BuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5NzQwNDIsImV4cCI6MjA4MDU1MDA0Mn0.vuxrw8S-KgT_eVg1g5Y-W81wohR8qz-gHYilu6LwFmA